<br><hr>
<a href="/home" >Home</a> |
	<a href="/user" >user</a> |
	<a href="/user/login" >login</a> |
	<a href="/user/new" >register</a> 
	<br>
	<div style="color:#ccc; font-size:10px;">Autor: Abel Chingo Tello</div>