<nav class="{{active}}">
	<a href="/home" class="menu_1" ng-click="active='menu_1'">Home</a>
	<a href="/user" class="menu_2" ng-click="active='menu_2'">user</a>
	<a href="/user/login" class="menu_3" ng-click="active='menu_3'">login</a>
	<a href="/user/new" class="menu_4" ng-click="active='menu_4'">register</a>
</nav>